<header>

	<div class="top">
	    <div class="container">   
    
	        <ul class="loginbar pull-right">
	            <li><i class="icon-globe"></i><a>Язык <i class="icon-sort-up"></i></a>
	                <ul class="nav-list">
	                    <li class="active"><a href="#">Русский</a> <i class="icon-ok"></i></li>
	                    <li><a href="#">Spanish</a></li>
	                    <li><a href="#">English</a></li>
	                    <li><a href="#">German</a></li>
	                </ul>
	            </li>   
	            <li class="devider">&nbsp;</li>
	            <li><a href="/help.html" class="login-btn">Помощь</a></li>  
	           
	        </ul>

	    </div>      
	</div>   
<!--=== Header ===-->
	<div class="container top-30">

		<div class="row">
			<div class="col-md-4">
				<div class="logo">                                             
					<a href="/">
						<%= image_tag "/logo.png" %>
					</a>
				</div>   
			</div>
			<div class="col-md-4">
				Мы работаем в тестовом режиме.
			</div>
			<div class="col-md-2">
				<% if current_user %>
					<%= link_to "# Выход", signout_path, id: "sign_out", :class => "btn btn-success btn-lg pull-center" %>
				<% else %>
					<%= link_to "# Аккаунт", "#", :class => "btn btn-success btn-lg pull-center", :data => {:toggle => "modal", :target => "#LogIn"} %>
				<% end %>

			</div>
			<div class="col-md-2">
				<span class="big green"> <%= User.all.count %> </span><br> <%= Russian.pluralize(User.all.count, "участник", "участника", "участников") %>
			</div>
		</div>
	</div>
</header>

<%= render "/shared/loginmodal" %>