<div class="container top-30">
	<div class="row">
		<div class="col-md-8">
			<div class="col-md-12">
				<div class="col-md-4">
					<%= image_tag 'https://graph.facebook.com/'+@user.uid+'/picture?type=normal&width=120&height=120', :class => "img-circle" %>
				</div>
				<div class="col-md-4">
					<strong> <%= @user.name %> </strong>
					<p><strong>Стоимость акции:</strong> <%= stock_price(@user.id) %></p>
					<p><strong>Динамика цены:</strong> <%= compare(@user) %> </p>
				</div>
				<div class="col-md-4 text-center">
					<%= link_to (image_tag ("facebook.png")), "http://facebook.com/#{@user.uid}", :target => "_blank" %>
					<% if current_user %>
						<p class="top-30">У вас <strong>
							<%= current_user.mystocks.where("host_id = ?", @user.id).first.amount if !current_user.mystocks.where("host_id = ?", @user.id).blank? %>
							<%= stocks_amount(current_user.mystocks.where("host_id = ?", @user.id).first.amount) if !current_user.mystocks.where("host_id = ?", @user.id).blank? %></strong> этого пользователя.
						</p>
					<% end %>
				</div>
			</div>

			<%= render "/shared/notice" %>

			<%= render "/shared/buysell" %>
			
			<%= render "/shared/orders" %>
			
			<%= render "/shared/history" %>

			<div class="col-md-12 top-30">
				<% if !@owners.blank? %>
				<strong>Держатели акций:</strong>
					<p>
						<% @owners.each do |owner| %>
							<i class="glyphicon glyphicon-user"></i> <%= link_to owner.user.name, owner.user %>
						<% end %>
					</p>
				<% end %>
			</div>
		</div>

		<%= render 'shared/column' %>

	</div>
</div>