<div class="container top-30">
	<div class="row-fluid">
		<div class="span8">

			<div class="span12">
				<div class="span4">
					<%= image_tag 'https://graph.facebook.com/'+@user.uid+'/picture?type=normal&width=100&height=100' %>
				</div>
				<div class="span4">
					<strong> <%= @user.name %> </strong>
					<p><strong>Акции в наличии:</strong> <%= @stockamount.sum(:amount) %> шт.</p>
					<p><strong>Стоимость акции:</strong> <%= @stockprice %> руб.</p>
					<p><strong>Динамика цены:</strong> +53%</p>
				</div>
				<div class="span4">
					<%= image_tag ("facebook.png") %><%= image_tag ("twitter.png") %>
					<p>У вас <strong>12 акций</strong> этого пользователя.</p>
				</div>
			</div>

			<div class="span12 top-30 color">
				<h4>Заявки на продажу акций пользователя <%= @user.name %> </h4>
				<p>Всего <%= @stocksbuy.count %> <%= Russian.pluralize(@stocksbuy.count, "предложение", "предложения", "предложений") %>. Отображены 3 предложения с наименьшей ценой </p>

				<div class="requests">

					<div class="request">
						<div class="row-fluid">
							<div class="span2">
								№
							</div>

							<div class="span3">
								Продавец
							</div>

							<div class="span2">
								Количество
							</div>

							<div class="span2">
								Цена за 1 шт.
							</div>

							<div class="span3">
								Купить
							</div>

						</div>

						<% @stocksbuy.limit(3).each do |deal| %>	
							<div class="row-fluid">
								<div class="span2">
								1
								</div>

								<div class="span3">
								<%= @user.name %>
								</div>

								<div class="span2">
								<%= deal.amount %> шт.
								</div>

								<div class="span2">
								<%= deal.price.to_f %> руб.
								</div>

								<div class="span3">
									<%= form_for @stock, :url => {:controller => 'stocks', :action => 'deal'} do |f| %>
										<%= f.number_field :amount, value: deal.amount, :class => "amount-deal" %>
										<%= f.hidden_field :stockid, :value => deal.id %>
										<%= f.hidden_field :seller_id, :value => @user.id %>
										<%= f.hidden_field :buyer_id, :value => @user.id %>
										<%= f.hidden_field :host_id, :value => @user.id %>
										<%= f.hidden_field :status, :value => 0 %>
										<%= f.submit "купить", :class => "btn btn-success btn-mini" %>
									<% end %>
								</div>

							</div>
						<% end %>
					
					<p> У вас есть ? акций пользователя. Средняя цена покупки - <%= @stockprice %> руб. Разместить заявку на продажу.</p>

					<%= form_for @stock, :url => {:controller => 'stocks', :action => 'create'} do |f| %>
						<div class="row-fluid">
							<div class="span2">
								1
							</div>

							<div class="span2">
								<%= @user.name %>
							</div>

							<div class="span3">
								<%= f.number_field :amount, :class => "amount-deal" %> шт.
							</div>

							<div class="span3">
								<%= f.number_field :price, :class => "amount-deal", :value => @stockprice %> руб.
							</div>

							<div class="span2">
								<%= f.hidden_field :seller_id, :value => @user.id %>
								<%= f.hidden_field :buyer_id, :value => @user.id %>
								<%= f.hidden_field :host_id, :value => @user.id %>
								<%= f.hidden_field :status, :value => 2 %>
								<%= f.submit "продать", :class => "btn btn-danger btn-mini" %>
							</div>
						</div>
					<% end %>

					<% render "sells" %>

					</div>
				</div>
			</div>

			<div class="span12 top-30 color">
				<h4>Заявки на покупку акций пользователя <%= @user.name %></h4>
				<div class="requests">

					<div class="request">

						<div class="span2">
							№
						</div>

						<div class="span6">
							Покупатель
						</div>

						<div class="span2">
							Количество
						</div>

						<div class="span2">
							Цена за 1 шт.
						</div>
					<% render "buys" %>

<% @stockssell.limit(3).each do |deal| %>	
							<div class="row-fluid">
								<div class="span2">
								1
								</div>

								<div class="span3">
								<%= @user.name %>
								</div>

								<div class="span2">
								<%= deal.amount %> шт.
								</div>

								<div class="span2">
								<%= deal.price.to_f %> руб.
								</div>

								<div class="span3">
									<%= form_for @stock, :url => {:controller => 'stocks', :action => 'deal'} do |f| %>
										<%= f.number_field :amount, value: deal.amount, :class => "amount-deal" %>
										<%= f.hidden_field :stockid, :value => deal.id %>
										<%= f.hidden_field :seller_id, :value => @user.id %>
										<%= f.hidden_field :buyer_id, :value => @user.id %>
										<%= f.hidden_field :host_id, :value => @user.id %>
										<%= f.hidden_field :status, :value => 0 %>
										<%= f.submit "продать", :class => "btn btn-danger btn-mini" %>
									<% end %>
								</div>

							</div>
						<% end %>


					</div>
				</div>

<p> Вы можете оставить заявку на покупку акций. Средняя цена акции - <%= @stockprice %> руб. Разместить заявку на покупку.</p>

					<%= form_for @stock, :url => {:controller => 'stocks', :action => 'create'} do |f| %>
						<div class="row-fluid">
							<div class="span2">
								1
							</div>

							<div class="span2">
								<%= @user.name %>
							</div>

							<div class="span3">
								<%= f.number_field :amount, :class => "amount-deal" %> шт.
							</div>

							<div class="span3">
								<%= f.number_field :price, :class => "amount-deal", :value => @stockprice %> руб. + 10%
							</div>

							<div class="span2">
								<%= f.hidden_field :seller_id, :value => @user.id %>
								<%= f.hidden_field :buyer_id, :value => @user.id %>
								<%= f.hidden_field :host_id, :value => @user.id %>
								<%= f.hidden_field :status, :value => 1 %>
								<%= f.submit "купить", :class => "btn btn-success btn-mini" %>
							</div>
						</div>
					<% end %>

			</div>

			<div class="span12 top-30">
				<strong>Держатели акций:</strong>
			</div>
		</div>

		<%= render 'shared/column' %>

	</div>
</div>