<% if current_user %>
	<div class="row">
		<div class="col-md-6 dashboard-panel-6 color top-30">

			<h4>Купить акции пользователя <%= @user.name %></h4>

			<div class="row">
				<%= form_for Order.new do |f| %>
					<div class="form-group">
						<div class="col-md-12">
							<%= f.number_field :amount, :class => "form-control", :placeholder => "Количество акций", :required => "required" %>
							<span class="help-block">Укажите количество акций, которые Вы хотите приобрести.</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<%= f.text_field :price, :class => "form-control", :placeholder => "Стоимость за акцию", :required => "required" %>
							<span class="help-block">Укажите предпочтительную стоимость покупки за одну акцию.</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<input class="form-control" id="disabledInput" type="text" placeholder="Общая стоимость" disabled>
						</div>
					</div>
					<div class="col-md-12">
						<br>
						<button type="submit" class="btn btn-success">Подать заявку на покупку</button>
					</div>
					<%= f.hidden_field :host_id, :value => @user.id %>
					<%= f.hidden_field :status, :value => 1 %>
				<% end %>
			</div>


		</div>

		<div class="col-md-6 dashboard-panel-6 pull-right color top-30">
			<h4>Продать акции пользователя <%= @user.name %></h4>
			<div class="row">
				<%= form_for Order.new do |f| %>
					<div class="form-group">
						<div class="col-md-12">
							<%= f.number_field :amount, :class => "form-control", :placeholder => "У вас #{current_user.mystocks.where("host_id = ?", @user.id).first.amount if !current_user.mystocks.where("host_id = ?", @user.id).blank?} акция этого пользоватля", :required => "required" %>
							<span class="help-block">Укажите количество акций, которые Вы хотите приобрести.</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<%= f.text_field :price, :class => "form-control", :placeholder => "Средняя стоимость акции составила 122 руб.", :required => "required" %>
							<span class="help-block">Укажите предпочтительную стоимость покупки за одну акцию.</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<input class="form-control" id="disabledInput" type="text" placeholder="Общая стоимость" disabled>
						</div>
					</div>
					<div class="col-md-12">
						<br>
						<button type="submit" class="btn btn-danger">Подать заявку на продажу</button>
					</div>
					<%= f.hidden_field :host_id, :value => @user.id %>
					<%= f.hidden_field :status, :value => 2 %>
				<% end %>
			</div>
		</div>
	</div>

<% else %>


		<div class="col-md-12 top-30">
			<p class="bg-success">Для того, чтобы торговать на бирже SocialExchange необходимо <%= link_to "зарегистрироваться", "#", :data => {:toggle => "modal", :target => "#LogIn"} %>.</p>
		</div>



<% end %>