		<div class="col-md-4">
			<% if current_user %>
				<%= render "/users/info" %>
				<%= render "/users/admin" %>
			<% end %>


			<div class="headline"><h3><%= I18n.t(:about) %></h3></div>
			<p><%= I18n.t(:about_text) %></p>

			<div class="headline"><h3><%= I18n.t(:buy_stock) %></h3></div>

			<%= form_for User.new, :url => {:controller => 'users', :action => 'search'}, :html => { :class => "form-inline" } do |f| %>
			<div class="form-group">
				<%= f.text_field :uid, :class => "form-control", :placeholder => "Ivanov" %>
			</div>
			<%= f.submit "#{I18n.t(:go)}", :class => "btn btn-success" %>
			<% end %>

		</div>