			<div class="span12 top-30 color">
				<h4>История сделок</h4>
				<div class="requests">

					<div class="request">

						<div class="span2">
							Дата
						</div>

						<div class="span2">
							Тип
						</div>

						<div class="span2">
							Цена за 1 шт.
						</div>

						<div class="span2">
							Количество
						</div>

						<div class="span4">
							Стоимость
						</div>


<% @stockssell.limit(3).each do |deal| %>	
							<div class="row-fluid">
								<div class="span2">
								<%= deal.created_at %>
								</div>

								<div class="span2">
								<%= deal.type %>
								</div>

								<div class="span2">
								<%= deal.price %> шт.
								</div>

								<div class="span2">
								<%= deal.amount %> руб.
								</div>

								<div class="span3">
									<%= deal.price %>
								</div>

							</div>
						<% end %>


					</div>
				</div>
			</div>