<div class="row">
			<div class="col-md-12 top-30 color">
				<h4>История сделок</h4>

				<div class="requests">

					<div class="request">
					<% if !@history.blank? %>
						<div class="col-md-4">
							
						</div>

						<div class="col-md-2">
							Тип
						</div>

						<div class="col-md-2">
							Цена за 1 шт.
						</div>

						<div class="col-md-2">
							Количество
						</div>

						<div class="col-md-2">
							Стоимость
						</div>

					
						<% @history.limit(7).order("created_at DESC").each do |deal| %>
							<div class="row">
								<div class="col-md-4">
									<%= time_ago_in_words(deal.created_at) %> назад
								</div>

								<div class="col-md-2">
									<%= deal.buy_sell %>
								</div>

								<div class="col-md-2">
									<%= deal.price %> руб. 
								</div>

								<div class="col-md-2">
									<%= deal.amount %> шт.
								</div>

								<div class="col-md-2">
									<%= deal.price * deal.amount %> руб.
								</div>

							</div>
						<% end %>
					<% else %>
						<p>Пока по данному пользователю не прошло ни одной сделки.</p>
					<% end %>

					</div>
				</div>
			</div>
		</div>