<div class="row">
			<div class="col-md-12 top-30 color">
				<h4>История сделок</h4>
				<div class="requests">

					<div class="request">

						<div class="col-md-2">
							Дата
						</div>

						<div class="col-md-2">
							Тип
						</div>

						<div class="col-md-2">
							Цена за 1 шт.
						</div>

						<div class="col-md-2">
							Количество
						</div>

						<div class="col-md-4">
							Стоимость
						</div>


<% @stockssell.limit(3).each do |deal| %>	
							<div class="row">
								<div class="col-md-2">
								<%= deal.created_at %>
								</div>

								<div class="col-md-2">
								<%= deal.type %>
								</div>

								<div class="col-md-2">
								<%= deal.price %> шт.
								</div>

								<div class="col-md-2">
								<%= deal.amount %> руб.
								</div>

								<div class="col-md-2">
									<%= deal.price %>
								</div>

							</div>
						<% end %>


					</div>
				</div>
			</div>
		</div>