<div class="row">
			<div class="col-md-6 dashboard-panel-6 top-30 color">
				<h4>Ордера на продажу</h4>
				<p>Всего <%= @sell_orders.count %> <%= Russian.pluralize(@sell_orders.count, "предложение", "предложения", "предложений") %>. Отображены 3 предложения с наименьшей ценой </p>
				<div class="row">
					<div class="col-md-4">
						Цена
					</div>
					<div class="col-md-4">
						Количество
					</div>
					<div class="col-md-4">
						Стоимость
					</div>
				</div>

			<% if @sell_orders %>
				<% @sell_orders.each do |sell_order| %>
					<div class="row">
						<div class="col-md-4">
							<%= sell_order.price %>
						</div>

						<div class="col-md-4">
							<%= sell_order.amount %>
						</div>

						<div class="col-md-4">
							<%= sell_order.amount * sell_order.price %>
						</div>
					</div>
				<% end %>
			<% end %>

			</div>

			<div class="col-md-6 dashboard-panel-6 pull-right top-30 color">
				<h4>Ордера на покупку</h4>
				<p>Всего <%= @buy_orders.count %> <%= Russian.pluralize(@buy_orders.count, "предложение", "предложения", "предложений") %>. Отображены 3 предложения с наименьшей ценой </p>
				<div class="row">
					<div class="col-md-4">
						Цена
					</div>
					<div class="col-md-4">
						Количество
					</div>
					<div class="col-md-4">
						Стоимость
					</div>
				</div>


			<% if @buy_orders %>
				<% @buy_orders.each do |buy_order| %>
					<div class="row">
						<div class="col-md-4">
							<%= buy_order.price %>
						</div>

						<div class="col-md-4">
							<%= buy_order.amount %>
						</div>

						<div class="col-md-4">
							<%= buy_order.amount * buy_order.price %>
						</div>
					</div>
				<% end %>
			<% end %>

			</div>
</div>