<div class="row">
			<div class="col-md-6 dashboard-panel-6 top-30 color">
				<h4>Ордера на продажу</h4>
				<p>Всего <%= @stocksbuy.count %> <%= Russian.pluralize(@stocksbuy.count, "предложение", "предложения", "предложений") %>. Отображены 3 предложения с наименьшей ценой </p>
				<div class="row">
					<div class="col-md-4">
						Цена
					</div>
					<div class="col-md-4">
						Количество
					</div>
					<div class="col-md-4">
						Стоимость
					</div>
				</div>

				<% @stocksbuy.limit(3).each do |deal| %>	
					<div class="row">
						<div class="col-md-2">
						1
						</div>

						<div class="col-md-3">
						<%= @user.name %>
						</div>

						<div class="col-md-2">
						<%= deal.amount %> шт.
						</div>
					</div>
				<% end %>
			</div>

			<div class="col-md-6 dashboard-panel-6 pull-right top-30 color">
				<h4>Ордера на покупку</h4>
				<p>Всего <%= @stocksbuy.count %> <%= Russian.pluralize(@stocksbuy.count, "предложение", "предложения", "предложений") %>. Отображены 3 предложения с наименьшей ценой </p>
				<div class="row">
					<div class="col-md-4">
						Цена
					</div>
					<div class="col-md-4">
						Количество
					</div>
					<div class="col-md-4">
						Стоимость
					</div>
				</div>

				<% @stocksbuy.limit(3).each do |deal| %>	
					<div class="row">
						<div class="col-md-2">
						1
						</div>

						<div class="col-md-3">
						<%= @user.name %>
						</div>

						<div class="col-md-2">
						<%= deal.amount %> шт.
						</div>
					</div>
				<% end %>
			</div>
</div>