<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="Социальная биржа, Socialex, Social exchange" />
  <meta name="description" content="Движение курса акций социальных аккаунтов." />
</head>
<body>
    <%= render 'static_pages/header' %>
<%= yield %>
    <%= render 'static_pages/footer' %>
</body>
</html>